#Map {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
table {
    background-color: whitesmoke;
}
td {
    border: 1px solid darkgray;
    width: 10px;
    height: 10px;
}
td.dead {
    background-color: transparent;
}
td.alive {
    background-color:black;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 850px;
}